# Day 5: 30 Days of python
Exercises - Module 5

1. Declare an empty list

In [1]:
#declare an empty list
empty_list = list()
print(empty_list)

[]

2. Declare a list with more than 5 items

In [1]:

#declare a list with more than 5 items
my_list = ['Melvin', 24, 1.65, 'Single', 'Lagos']
print(my_list)

['Melvin', 24, 1.65, 'Single', 'Lagos']

3. Find the length of your list

In [3]:
#Find the length of your list
print(len(my_list))

5

4. Get the first item, the middle item and the last item of the list

In [5]:
#Get the first item, the middle item and the last item of the list

first_item = my_list[0]
print(first_item)           #First item of the list

last_item = my_list[-1]
print(last_item)

Melvin
Lagos

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [6]:
#Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ['Melvin', '24', '63', 'single', 'Nairobi']
print(mixed_data_types)

['Melvin', '24', '63', 'single', 'Nairobi']

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [2]:
#Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

7. Print the List using print()

In [3]:
print(it_companies)

['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8. Print the list using print()

In [4]:
#Print the list using print()
print(len(it_companies))

7

9. Print the first, middle and last company

In [5]:
first_it_company = it_companies[0]
print(first_it_company)             #printing the first item in the it company list

middle_it_company = it_companies[3]
print(middle_it_company)            #printing the middle item in the it company list

last_it_company = it_companies[-1]
print(last_it_company)

facebook
Apple
Amazon

10. Print the list after modifying one of the companies

In [6]:
#Print the list after modifying one of the companies
it_companies[-3] = 'Twitter'
print(it_companies)

['facebook', 'Google', 'Microsoft', 'Apple', 'Twitter', 'Oracle', 'Amazon']

11. Add an IT company to it_companies

In [7]:
#Add an IT company to it_companies
it_companies.append('TCS')
print(it_companies)

['facebook', 'Google', 'Microsoft', 'Apple', 'Twitter', 'Oracle', 'Amazon', 'TCS']

12. Insert an IT company in the middle of the companies list

In [8]:
#Insert an IT company in the middle of the companies list
it_companies.insert(3, 'Infosys')
print(it_companies)

['facebook', 'Google', 'Microsoft', 'Infosys', 'Apple', 'Twitter', 'Oracle', 'Amazon', 'TCS']

13. Change one of the it_companies names to uppercase (IBM excluded!)

In [9]:
#Change one of the it_companies names to uppercase (IBM excluded!)
it_companies[1] = it_companies[1].upper()
print(it_companies)

['facebook', 'GOOGLE', 'Microsoft', 'Infosys', 'Apple', 'Twitter', 'Oracle', 'Amazon', 'TCS']

14. Join the it_companies with a string '#; '

In [10]:
#Join the it_companies with a string '#; '
it_companies_string = '#; '.join(it_companies)
print(it_companies_string)

facebook#; GOOGLE#; Microsoft#; Infosys#; Apple#; Twitter#; Oracle#; Amazon#; TCS

15. Check if a certain company exists in the it_companies list.

In [11]:
#Check if a certain company exists in the it_companies list.
print('Infosys' in it_companies)
print('Infosys' not in it_companies)

True
False

16. Sort the list using sort() method

In [12]:
#Sort the list using sort() method
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'GOOGLE', 'Infosys', 'Microsoft', 'Oracle', 'TCS', 'Twitter', 'facebook']

17. Reverse the list in descending order using reverse() method

In [13]:
#Reverse the list in descending order using reverse() method
it_companies.sort(reverse=True)
print(it_companies)

['facebook', 'Twitter', 'TCS', 'Oracle', 'Microsoft', 'Infosys', 'GOOGLE', 'Apple', 'Amazon']

18. Slice out the first 3 companies from the list

In [16]:
#Slice out the first 3 companies from the list
it_companies = it_companies[:3]
print(it_companies)

['facebook', 'Twitter', 'TCS']

19. Slice out the last 3 companies from the list

In [17]:
#Slice out the last 3 companies from the list
it_companies = it_companies[6:]
print(it_companies)

[]

20. Slice out the middle IT company or companies from the list

In [18]:
#Slice out the middle IT company or companies from the list
it_companies = it_companies[6]
print(it_companies)

IndexError: list index out of range