# Day 5: 30 Days of python

## Exercises: Module 5

1. Declare an empty list

In [2]:
#Declare an empty list
empty_list = []
print

2. Declare a list with more than 5 items

In [3]:
#Declare a list with more than 5 items
my_list = [1, 2, 3, 4, 5]
print

3. Find the length of your list

In [4]:
#Find the length of your list
print(len(my_list))

5

4. Get the first item, the middle item and the last item of the list

In [5]:
#Get the first item, the middle item and the last item of the list
print(my_list[0])
print(my_list[3])
print(my_list[4])
print(my_list[-1])

1
4
5
5

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [1]:
#Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

mixed_data_types = ['Melvin', 24, 1.65, 'Single', 'Lagos']
print(mixed_data_types)

['Melvin', 24, 1.65, 'Single', 'Lagos']

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [2]:
#Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_company = ['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

7. Print the list using print()

In [3]:
#Print the list using print()
print(it_company)

['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8. Print the list using print()

In [4]:
print(it_company)

['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the first, middle and last company

In [5]:
#Print the first, middle and last company
print(it_company[0])
print(it_company[3])
print(it_company[-1])

facebook
Apple
Amazon

10. Print the list after modifying one of the companies

In [7]:
#Print the list after modifying one of the companies
it_company[-3] = 'Twitter'
print(it_company)

['facebook', 'Google', 'Microsoft', 'Apple', 'Twitter', 'Oracle', 'Amazon']

11. Add an IT company to it_companies

In [8]:
#Add an IT company to it_companies
it_company.append('OpenAI')
print(it_company)

['facebook', 'Google', 'Microsoft', 'Apple', 'Twitter', 'Oracle', 'Amazon', 'OpenAI']

12. Insert an IT company in the middle of the companies list

In [9]:
#Insert an IT company in the middle of the companies list
it_company.insert(3, 'Tesla')
print(it_company)

['facebook', 'Google', 'Microsoft', 'Tesla', 'Apple', 'Twitter', 'Oracle', 'Amazon', 'OpenAI']

13. Change one of the it_companies names to uppercase (IBM excluded!)

In [ ]:
#Change one of the it_companies names to uppercase (IBM excluded!)

14. Join the it_companies with a string '#; '

In [10]:
#Join the it_companies with a string '#; '
joined_it_companies = '#.'.join(it_company)
print(joined_it_companies)

facebook#.Google#.Microsoft#.Tesla#.Apple#.Twitter#.Oracle#.Amazon#.OpenAI

15. Check if a certain company exists in the it_companies list.

In [11]:
#Check if a certain company exists in the it_companies list.
print('Twitter' in it_company)
print('Facebook' in it_company)

True
False

16. Sort the list using sort() method

In [12]:
#Sort the list using sort() method
it_company.sort()
print(it_company)

['Amazon', 'Apple', 'Google', 'Microsoft', 'OpenAI', 'Oracle', 'Tesla', 'Twitter', 'facebook']

17.Reverse the list in descending order using reverse() method

In [13]:
#Reverse the list in descending order using reverse() method
it_company.reverse()
print(it_company)

['facebook', 'Twitter', 'Tesla', 'Oracle', 'OpenAI', 'Microsoft', 'Google', 'Apple', 'Amazon']

18. Slice out the first 3 companies from the list

In [14]:
#Slice out the first 3 companies from the list
it_company = it_company[0:3]
print(it_company)

['facebook', 'Twitter', 'Tesla']

19. Slice out the last 3 companies from the list

In [15]:
#Slice out the last 3 companies from the list
it_company = it_company[-3:]
print(it_company)

['facebook', 'Twitter', 'Tesla']

20. Slice out the middle IT company or companies from the list

In [16]:
#Slice out the middle IT company or companies from the list
it_company = it_company[1:-1]
print(it_company)

['Twitter']

21. Remove the first IT company from the list

In [20]:
#Remove the first IT company from the list
it_company = it_company[1:]
print(it_company)

[]

22. Remove the middle IT company or companies from the list

In [23]:
#Remove the middle IT company or companies from the list
it_company = it_company[:-1]
print

23. Remove the last IT company from the list

In [24]:
#Remove the last IT company from the list
it_company = it_company[:-1]
print(it_company)

[]

24. Remove all IT companies from the list

In [25]:
#Remove all IT companies from the list
it_company = []
print(it_company)

[]

25. Destroy the IT companies list

In [27]:
#Destroy the IT companies list
del it_company

NameError: name 'it_company' is not defined

26. Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']

back_end = ['Node','Express', 'MongoDB']

In [28]:
#Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']

back_end = ['Node','Express', 'MongoDB']

full_stack = front_end + back_end
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [29]:
#After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

full_stack.insert(4, 'Python')
full_stack.insert(5, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Python', 'SQL', 'Redux', 'Node', 'Express', 'MongoDB']

## Exercises Level 2

1. The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [1]:
#sort the list
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [2]:
# Add the min age and the max age again to the list
min_age = min(ages)
max_age = max(ages)
ages.append(min_age)
ages.append(max_age)
print("Updated ages:", ages)

Updated ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [4]:
#find the median age
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)

n = len(ages)           #checking the length of the list

if n % 2 == 0:
    median = (ages[n // 2-1] + ages[n // 2]) / 2        # checking for if the number is even
else:
    median = ages[n // 2]           #checking for if the number is odd

print('Median Age:', median)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Median Age: 24.0

In [5]:
#find the average age
total_age = sum(ages)
n = len(ages)

average_age = total_age / n
print('Avergae ages is', average_age)

Avergae ages is 22.8

In [6]:
#find the range of the ages
range = max_age - min_age
print('The range of the ages is', range)

The range of the ages is 7

In [7]:
# Compare the value of (min - average) and (max - average), use abs() method
min_difference = abs(min_age - average_age)             # calculating the absolute min difference
max_difference = abs(max_age - average_age)             # calculating the absolute max difference

comparison = 'Min difference is greater than' if max_difference > min_difference else "Max difference is greater than or equal"
print(f'Min difference is {min_difference:2f}')
print(f'Max difference is {max_difference:2f}')
print(comparison)

Min difference is 3.800000
Max difference is 3.200000
Max difference is greater than or equal

In [9]:
# Find the middle country(ies) in the countries list

In [10]:
# Divide the countries list into two equal lists if it is even if not one
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];
countries.sort()            # sorting
n = len(countries)
if n % 2 == 0:          #even number of countries
    middle_countries = countries[n //2 - 1:n // 2 + 1]          
else:                   #odd  number of countries
    middle_countries = [countries[n // 2]]          

print('sorted countries:', countries)
print('Middle country(ies):', middle_countries)

sorted countries: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo', 'Congo (Brazzaville)', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']
Middle country(ies): ['Lesotho']

In [11]:
# Divide the countries list into two equal lists if it is even if not one more country for the first half.

mid_point = (len(countries) + 1) // 2           #finding the midpoint
#spliting the countries
first_half = countries[:mid_point]
second_half = countries[mid_point:]

print('First half are', first_half)
print('Second half are', second_half)

First half are ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo', 'Congo (Brazzaville)', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
Second half are ['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [12]:
# ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries

first, second, third ,*scandic_coiuntries = countries

print('First Country', first)
print('Second Country', second)
print('Third Country', third)
print('Scandic Couintries are', scandic_coiuntries)

First Country Afghanistan
Second Country Albania
Third Country Algeria
Scandic Couintries are ['Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo', 'Congo (Brazzaville)', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

## Tuple Exercises
### Level 1

1. Create an empty tuple

In [13]:
# Create an empty tuple
empty_tuple = ()

2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

In [14]:
#Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
Brothers = ('Kevin', 'George', 'Jenary', 'Miles', 'Djibrill', 'Isa')

sisters = ('Gentrine', 'Mercy', 'Olgah', 'Maryam')

3. Join brothers and sisters tuples and assign it to siblings

In [15]:
#Join brothers and sisters tuples and assign it to siblings
siblings = Brothers + sisters
print(siblings)

('Kevin', 'George', 'Jenary', 'Miles', 'Djibrill', 'Isa', 'Gentrine', 'Mercy', 'Olgah', 'Maryam')