# Day 5: 30 Days of python

## Exercises: Module 5

1. Declare an empty list

In [2]:
#Declare an empty list
empty_list = []
print

2. Declare a list with more than 5 items

In [3]:
#Declare a list with more than 5 items
my_list = [1, 2, 3, 4, 5]
print

3. Find the length of your list

In [4]:
#Find the length of your list
print(len(my_list))

5

4. Get the first item, the middle item and the last item of the list

In [5]:
#Get the first item, the middle item and the last item of the list
print(my_list[0])
print(my_list[3])
print(my_list[4])
print(my_list[-1])

1
4
5
5

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [1]:
#Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

mixed_data_types = ['Melvin', 24, 1.65, 'Single', 'Lagos']
print(mixed_data_types)

['Melvin', 24, 1.65, 'Single', 'Lagos']

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [4]:
#Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_company = ['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

7. Print the list using print()

In [5]:
#Print the list using print()
print(it_company)

['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8. Print the list using print()

In [6]:
print(it_company)

['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the first, middle and last company

In [7]:
#Print the first, middle and last company
print(it_company[0])
print(it_company[3])
print(it_company[-1])

facebook
Apple
Amazon

10. Print the list after modifying one of the companies

In [8]:
#Print the list after modifying one of the companies
it_company[-3] = 'Twitter'
print(it_company)

['facebook', 'Google', 'Microsoft', 'Apple', 'Twitter', 'Oracle', 'Amazon']