# Day 5: 30 Days of python
Exercises - Module 5

1. Declare an empty list

In [1]:
#declare an empty list
empty_list = list()
print(empty_list)

[]

2. Declare a list with more than 5 items

In [1]:

#declare a list with more than 5 items
my_list = ['Melvin', 24, 1.65, 'Single', 'Lagos']
print(my_list)

['Melvin', 24, 1.65, 'Single', 'Lagos']

3. Find the length of your list

In [3]:
#Find the length of your list
print(len(my_list))

5

4. Get the first item, the middle item and the last item of the list

In [5]:
#Get the first item, the middle item and the last item of the list

first_item = my_list[0]
print(first_item)           #First item of the list

last_item = my_list[-1]
print(last_item)

Melvin
Lagos

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [6]:
#Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ['Melvin', '24', '63', 'single', 'Nairobi']
print(mixed_data_types)

['Melvin', '24', '63', 'single', 'Nairobi']

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [1]:
#Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

7. Print the List using print()

In [2]:
print(it_companies)

['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8. Print the list using print()

In [3]:
#Print the list using print()
print(len(it_companies))

7

9. Print the first, middle and last company

In [4]:
first_it_company = it_companies[0]
print(first_it_company)             #printing the first item in the it company list

middle_it_company = it_companies[3]
print(middle_it_company)            #printing the middle item in the it company list

last_it_company = it_companies[-1]
print(last_it_company)

facebook
Apple
Amazon

10. Print the list after modifying one of the companies

In [5]:
#Print the list after modifying one of the companies
it_companies[-3] = 'Twitter'
print(it_companies)

['facebook', 'Google', 'Microsoft', 'Apple', 'Twitter', 'Oracle', 'Amazon']

11. Add an IT company to it_companies

In [6]:
#Add an IT company to it_companies
it_companies.append('TCS')
print(it_companies)

['facebook', 'Google', 'Microsoft', 'Apple', 'Twitter', 'Oracle', 'Amazon', 'TCS']

12. Insert an IT company in the middle of the companies list

In [7]:
#Insert an IT company in the middle of the companies list
it_companies.insert(3, 'Infosys')
print(it_companies)

['facebook', 'Google', 'Microsoft', 'Infosys', 'Apple', 'Twitter', 'Oracle', 'Amazon', 'TCS']

13. Change one of the it_companies names to uppercase (IBM excluded!)

In [8]:
#Change one of the it_companies names to uppercase (IBM excluded!)
it_companies[1] = it_companies[1].upper()
print(it_companies)

['facebook', 'GOOGLE', 'Microsoft', 'Infosys', 'Apple', 'Twitter', 'Oracle', 'Amazon', 'TCS']

14. Join the it_companies with a string '#; '

In [9]:
#Join the it_companies with a string '#; '
it_companies_string = '#; '.join(it_companies)
print(it_companies_string)

facebook#; GOOGLE#; Microsoft#; Infosys#; Apple#; Twitter#; Oracle#; Amazon#; TCS

15. Check if a certain company exists in the it_companies list.

In [10]:
#Check if a certain company exists in the it_companies list.
print('Infosys' in it_companies)
print('Infosys' not in it_companies)

True
False

16. Sort the list using sort() method

In [11]:
#Sort the list using sort() method
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'GOOGLE', 'Infosys', 'Microsoft', 'Oracle', 'TCS', 'Twitter', 'facebook']

17. Reverse the list in descending order using reverse() method

In [12]:
#Reverse the list in descending order using reverse() method
it_companies.sort(reverse=True)
print(it_companies)

['facebook', 'Twitter', 'TCS', 'Oracle', 'Microsoft', 'Infosys', 'GOOGLE', 'Apple', 'Amazon']

18. Slice out the first 3 companies from the list

In [13]:
#Slice out the first 3 companies from the list
it_companies = it_companies[:3]
print(it_companies)

['facebook', 'Twitter', 'TCS']

19. Slice out the last 3 companies from the list

In [15]:
#Slice out the last 3 companies from the list
it_companies = it_companies[6:]
print(it_companies)

[]

20. Slice out the middle IT company or companies from the list

In [18]:
#Slice out the middle IT company or companies from the list
it_companies = it_companies[6]
print(it_companies)

IndexError: list index out of range

21. Remove the first IT company from the list

In [14]:
#Remove the first IT company from the list
slice_middle_item = it_companies[6]
print(slice_middle_item)

IndexError: list index out of range

22. Remove the middle IT company or companies from the lis

In [ ]:
#Remove the middle IT company or companies from the lis

23. Remove the last IT company from the list

In [ ]:
#Remove the last IT company from the list

24. Remove all IT companies from the list

In [ ]:
#Remove all IT companies from the list

25. Destroy the IT companies list

In [ ]:
#Destroy the IT companies list

26. Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']

back_end = ['Node','Express', 'MongoDB']

In [16]:
#joining 2 lists

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']

back_end = ['Node','Express', 'MongoDB']
joint = front_end + back_end
print(joint)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [17]:
#After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.
full_stack = joint.copy()
print(full_stack)

full_stack[4] = 'Python'
full_stack[5] = 'SQL'
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Python', 'SQL', 'Express', 'MongoDB']

## Exercises Level 2

1. The following is a list of 10 students ages:
  ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [18]:
# sorting the list ages

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [19]:
# Add the min age and the max age again to the list

min_age = min(ages)
max_age = max(ages)

ages.append(min_age)
ages.append(max_age)

print("Updated ages:", ages)

Updated ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [20]:
# Find the median age (one middle item or two middle items divided by two)
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

ages.sort()
print(ages)         #sorting the list 

n = len(ages)           #checking the length of the list

if n % 2 == 0:
    median = (ages[n // 2-1] + ages[n // 2]) / 2        # checking for if the number is even
else:
    median = ages[n // 2]           #checking for if the number is odd

print('Median Age:', median)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Median Age: 24.0

In [21]:
# Find the average age (sum of all items divided by their number )

total_sum = sum(ages)           # adding the total ages

n = len(ages)           # finding the length of the list

average_age = total_sum / n         # finding the average ages using the total sum and the len n
print('Average ages is',average_age)

Average ages is 22.8

In [22]:
# Find the range of the ages (max minus min)

range = max_age - min_age

print('the ranges of teh ages is', range)

the ranges of teh ages is 7

In [23]:
# Compare the value of (min - average) and (max - average), use abs() method

min_difference = abs(min_age - average_age)             # calculating the absolute min difference
max_difference = abs(max_age - average_age)             # calculating the absolute max difference

comparison = 'Min difference is greater than' if max_difference > min_difference else "Max difference is greater than or equal"
print(f'Min difference is {min_difference:2f}')
print(f'Max difference is {max_difference:2f}')
print(comparison)

Min difference is 3.800000
Max difference is 3.200000
Max difference is greater than or equal

In [ ]:
# Find the middle country(ies) in the countries list
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];

countries.sort()            # sorting
n = len(countries)
if n % 2 == 0:          #even number of countries
    middle_countries = countries[n //2 - 1:n // 2 + 1]          
else:                   #odd  number of countries
    middle_countries = [countries[n // 2]]          

print('sorted countries:', countries)
print('Middle country(ies):', middle_countries)