# Day 5: 30 Days of python

## Exercises: Module 5

1. Declare an empty list

In [2]:
#Declare an empty list
empty_list = []
print

2. Declare a list with more than 5 items

In [3]:
#Declare a list with more than 5 items
my_list = [1, 2, 3, 4, 5]
print

3. Find the length of your list

In [4]:
#Find the length of your list
print(len(my_list))

5

4. Get the first item, the middle item and the last item of the list

In [5]:
#Get the first item, the middle item and the last item of the list
print(my_list[0])
print(my_list[3])
print(my_list[4])
print(my_list[-1])

1
4
5
5

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [1]:
#Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

mixed_data_types = ['Melvin', 24, 1.65, 'Single', 'Lagos']
print(mixed_data_types)

['Melvin', 24, 1.65, 'Single', 'Lagos']

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [2]:
#Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_company = ['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

7. Print the list using print()

In [3]:
#Print the list using print()
print(it_company)

['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8. Print the list using print()

In [4]:
print(it_company)

['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the first, middle and last company

In [5]:
#Print the first, middle and last company
print(it_company[0])
print(it_company[3])
print(it_company[-1])

facebook
Apple
Amazon

10. Print the list after modifying one of the companies

In [7]:
#Print the list after modifying one of the companies
it_company[-3] = 'Twitter'
print(it_company)

['facebook', 'Google', 'Microsoft', 'Apple', 'Twitter', 'Oracle', 'Amazon']

11. Add an IT company to it_companies

In [8]:
#Add an IT company to it_companies
it_company.append('OpenAI')
print(it_company)

['facebook', 'Google', 'Microsoft', 'Apple', 'Twitter', 'Oracle', 'Amazon', 'OpenAI']

12. Insert an IT company in the middle of the companies list

In [9]:
#Insert an IT company in the middle of the companies list
it_company.insert(3, 'Tesla')
print(it_company)

['facebook', 'Google', 'Microsoft', 'Tesla', 'Apple', 'Twitter', 'Oracle', 'Amazon', 'OpenAI']

13. Change one of the it_companies names to uppercase (IBM excluded!)

In [ ]:
#Change one of the it_companies names to uppercase (IBM excluded!)

14. Join the it_companies with a string '#; '

In [10]:
#Join the it_companies with a string '#; '
joined_it_companies = '#.'.join(it_company)
print(joined_it_companies)

facebook#.Google#.Microsoft#.Tesla#.Apple#.Twitter#.Oracle#.Amazon#.OpenAI

15. Check if a certain company exists in the it_companies list.

In [11]:
#Check if a certain company exists in the it_companies list.
print('Twitter' in it_company)
print('Facebook' in it_company)

True
False

16. Sort the list using sort() method

In [12]:
#Sort the list using sort() method
it_company.sort()
print(it_company)

['Amazon', 'Apple', 'Google', 'Microsoft', 'OpenAI', 'Oracle', 'Tesla', 'Twitter', 'facebook']

17.Reverse the list in descending order using reverse() method

In [13]:
#Reverse the list in descending order using reverse() method
it_company.reverse()
print(it_company)

['facebook', 'Twitter', 'Tesla', 'Oracle', 'OpenAI', 'Microsoft', 'Google', 'Apple', 'Amazon']

18. Slice out the first 3 companies from the list

In [14]:
#Slice out the first 3 companies from the list
it_company = it_company[0:3]
print(it_company)

['facebook', 'Twitter', 'Tesla']

19. Slice out the last 3 companies from the list

In [15]:
#Slice out the last 3 companies from the list
it_company = it_company[-3:]
print(it_company)

['facebook', 'Twitter', 'Tesla']

20. Slice out the middle IT company or companies from the list

In [16]:
#Slice out the middle IT company or companies from the list
it_company = it_company[1:-1]
print(it_company)

['Twitter']

21. Remove the first IT company from the list

In [20]:
#Remove the first IT company from the list
it_company = it_company[1:]
print(it_company)

[]

22. Remove the middle IT company or companies from the list

In [23]:
#Remove the middle IT company or companies from the list
it_company = it_company[:-1]
print

23. Remove the last IT company from the list

In [24]:
#Remove the last IT company from the list
it_company = it_company[:-1]
print(it_company)

[]

24. Remove all IT companies from the list

In [25]:
#Remove all IT companies from the list
it_company = []
print(it_company)

[]

25. Destroy the IT companies list

In [27]:
#Destroy the IT companies list
del it_company

NameError: name 'it_company' is not defined

26. Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']

back_end = ['Node','Express', 'MongoDB']

In [28]:
#Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']

back_end = ['Node','Express', 'MongoDB']

full_stack = front_end + back_end
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [29]:
#After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

full_stack.insert(4, 'Python')
full_stack.insert(5, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Python', 'SQL', 'Redux', 'Node', 'Express', 'MongoDB']