# Day 5: 30 Days of python

## Exercises: Module 5

1. Declare an empty list

In [2]:
#Declare an empty list
empty_list = []
print

2. Declare a list with more than 5 items

In [3]:
#Declare a list with more than 5 items
my_list = [1, 2, 3, 4, 5]
print

3. Find the length of your list

In [4]:
#Find the length of your list
print(len(my_list))

5

4. Get the first item, the middle item and the last item of the list

In [5]:
#Get the first item, the middle item and the last item of the list
print(my_list[0])
print(my_list[3])
print(my_list[4])
print(my_list[-1])

1
4
5
5

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [1]:
#Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

mixed_data_types = ['Melvin', 24, 1.65, 'Single', 'Lagos']
print(mixed_data_types)

['Melvin', 24, 1.65, 'Single', 'Lagos']

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [1]:
#Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_company = ['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

7. Print the list using print()

In [2]:
#Print the list using print()
print(it_company)

['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8. Print the list using print()

In [3]:
print(it_company)

['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the first, middle and last company

In [4]:
#Print the first, middle and last company
print(it_company[0])
print(it_company[3])
print(it_company[-1])

facebook
Apple
Amazon

10. Print the list after modifying one of the companies

In [5]:
#Print the list after modifying one of the companies
it_company[-3] = 'Twitter'
print(it_company)

['facebook', 'Google', 'Microsoft', 'Apple', 'Twitter', 'Oracle', 'Amazon']

11. Add an IT company to it_companies

In [6]:
#Add an IT company to it_companies
it_company.append('OpenAI')
print(it_company)

['facebook', 'Google', 'Microsoft', 'Apple', 'Twitter', 'Oracle', 'Amazon', 'OpenAI']

12. Insert an IT company in the middle of the companies list

In [7]:
#Insert an IT company in the middle of the companies list
it_company.insert(3, 'Tesla')
print(it_company)

['facebook', 'Google', 'Microsoft', 'Tesla', 'Apple', 'Twitter', 'Oracle', 'Amazon', 'OpenAI']

13. Change one of the it_companies names to uppercase (IBM excluded!)

In [ ]:
#Change one of the it_companies names to uppercase (IBM excluded!)

14. Join the it_companies with a string '#; '

In [8]:
#Join the it_companies with a string '#; '
joined_it_companies = '#.'.join(it_company)
print(joined_it_companies)

facebook#.Google#.Microsoft#.Tesla#.Apple#.Twitter#.Oracle#.Amazon#.OpenAI

15. Check if a certain company exists in the it_companies list.

In [9]:
#Check if a certain company exists in the it_companies list.
print('Twitter' in it_company)
print('Facebook' in it_company)

True
False